.col-md-8
  .well
    %h2
      = link_to @team.title, team_path
    %hr
    .overflow
      - @team.members.sort_by(&:position).each do |member|
        .col-md-12
          .col-md-4
            .photo
              = image_tag member.photo
              - if member.status
                %span
                  = member.status
          .col-md-5
            %p
              %strong
                = member.nickname
            %p
              = member.name
            %p
              = member.role
            %p
              = member.birthday.strftime("%d.%m.%Y") if member.birthday
            %p
              = member.location
          .col-md-3
            .member-social.pull-right
              - if member.vk
                = link_to member.vk, class: 'btn' do
                  = fa_icon 'vk lg'
              - if member.twitch
                = link_to member.twitch, class: 'btn' do
                  = fa_icon 'twitch lg'
              .spacer
