#login
  .well
    %fieldset
      %legend
        Восстановление пароля
      = form_for @user, url: password_reset_path(@user), method: :put do |f|
        - if @user.errors.any?
          .alert.alert-danger
            = @user.errors.first[1]
        .field
          = f.label :password, 'Новый пароль'
          = f.password_field :password, class: 'full-input', autofocus: 'autofocus'
        .field
          = f.label :password_confirmation, 'Подтвердите пароль'
          = f.password_field :password_confirmation, class: 'full-input'
          = hidden_field_tag :token, @token
        .actions
          = f.submit 'Применить', class: 'btn btn-hard btn-block'
