.span8
  %article.well.well-raised
    %h2
      %a{href: "/user/#{@user.username}"}
        = @user.username
    %hr
    #alert_placeholder
    .row-fluid
      .span3{style: "text-align: center"}
        %form#avatar{action: "/user/change_avatar/#{@user.id}", enctype: "multipart/form-data",method: "post"}
          .fileupload.fileupload-new{"data-provides" => "fileupload"}
            .fileupload-new.thumbnail.img-polaroid{style: "width: 120px; height: 120px; line-height: 120px;"}
              %img{src: "/avatars/#{@user.avatar}"}
            .fileupload-preview.fileupload-exists.thumbnail.img-polaroid{"data-trigger" => "fileupload", style: "width: 120px; height: 120px;"}
            %p Репутация: #{@user.reputation}
            %div
              %span.btn.btn-primary.btn-file
                %span.fileupload-new Загрузить
                %span.fileupload-exists Изменить
                %input#upload{name: "file", type: "file", accept: "image/*"}
          %button#save.btn.btn-primary{style: "display: none"}
            Сохранить
      .span9
        %table.table.table-bordered
          %tr
            %td Email
            %td
              %input#email.table-input{value: "#{@user.email}"}
          %tr
            %td Skype
            %td
              %input#skype.table-input{value: "#{@user.skype}"}
          %tr
            %td BattleTag
            %td
              %input#tag.table-input{value: "#{@user.tag}"}
          %tr
            %td Зарегистрирован
            %td= @user.created_at.strftime("%d.%m.%Y")
        %textarea#about{rows: "8", maxlength: "5000", style: "width: 97%"}
          = @user.about
        %p
          %button#submit.btn.btn-primary Применить

:javascript
  jQuery(function ($) {
    warning = function(message) {
      $('#alert_placeholder').html('<div class="alert alert-error alert-floating">'+message+'</div>');
    }

    $('#submit').on('click', function(submit) {
      submit.preventDefault();
      $('#save, #submit').attr('disabled', true)
      var tag     = $('#tag').val();
      var skype   = $('#skype').val();
      var email   = $('#email').val();
      var about   = $('#about').val();
      $.ajax({
        type: "POST",
        url: "/user/edit/#{@user.id}",
        data: {'tag': tag, 'skype': skype, 'email': email, 'about': about},
        success: function(msg){
          if (msg) {
            warning(msg)
            $('#submit').removeAttr("disabled");
          } else {
            window.location.replace("/user/#{@user.username}")
          }
        }
      })
    })

    $('#upload').bind('change', function() {
      var file = $('input[type="file"]').val()
      var exts = ['gif','png','jpg','jpeg']
      var file_error_text = 'Файл должен быть не больше 1Мб и формата: gif, png, jpg, jpeg.'
      if (file) {
        var get_ext = file.split('.')
        get_ext = get_ext.reverse()
        if (parseInt(this.files[0].size) > 1048576) {
          $('#save').hide()
          warning(file_error_text)
        } else {
          if ($.inArray(get_ext[0].toLowerCase(), exts) > -1) {
            $('#save').show()
            $('#alert_placeholder').hide()
          } else {
            $('#save').hide()
            warning(file_error_text)
          }
        }
      }
    })

    $('#save').on('click', function() {
      $('#avatar').submit()
      $('#save, #submit').attr('disabled', true)
    })
  })
