.span8
  - @post.each do |post|
    %article.well.well-raised
      %h2
        %a{href: "/post/#{post.id}"} #{post.title}
      %hr
      %p.muted
        = post.created_at.strftime("%d.%m.%Y в %H:%M")
      %p= post.content
      %hr
      %p
        %i.icon-user
        = User.get(post.user_id).username
        %i.icon-pencil
        = post.comments.count
      %a.btn.btn-link{href: "/post/#{post.id}"} Читать дальше →
-#
  .pagination.pagination-right
    %ul
      %li.active
        %a{href: "#"} 1
      %li
        %a{href: "#"} 2
      %li
        %a{href: "#"} 3
      %li.disabled
        %a{href: "#"} ...
      %li
        %a{href: "#"} 7
      %li
        %a{href: "#"} Next
