.col-md-8
  .well
    %h2
      = link_to @user.username, user_path(@user.username)
    %hr
    #notice
      - unless flash[:notice].blank?
        .alert.alert-info
          = flash[:notice]
    #alert-placeholder
    .row
      .col-md-3
        = render 'user_menu'
      .col-md-9
        = form_for @user, url: 'avatar', html: {class: 'dropzone', id: 'avatar'} do |f|
          .fallback
            = f.file_field :avatar
          %p
            = f.submit 'Загрузить', class: 'btn btn-hard'
