.col-md-8
  .well
    %h2
      = link_to @user.username, user_path(@user.username)
    %hr
    .row
      .col-md-3
        = render 'user_menu'
      .col-md-9
        #avatar_uploader
          #fileinput.btn.btn-hard
            = fa_icon 'plus'
            Выбрать файл
          = form_for @user, url: 'avatar', method: :post do |f|
            #previews
              #template
                .preview
                  %img{'data-dz-thumbnail' => ''}
                %div
                  %p.name{'data-dz-name' => ''}
                  %strong.error.text-danger{'data-dz-errormessage' => ''}
                %div
                  %p.size{'data-dz-size' => ''}
                  .progress.progress-striped.active{'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '0', :role => 'progressbar'}
                    .progress-bar.progress-bar-success{'data-dz-uploadprogress' => '', :style => 'width:0%;'}
                %div
                  %button#save.btn.btn-primary
                    = fa_icon 'save'
                    Сохранить
                  %button#cancel.btn.btn-warning{'data-dz-remove' => ''}
                    = fa_icon 'ban'
                    Отменить
