.col-md-8
  .well
    = render 'navigation'
    .overflow
      #results
        - @tournament.results.order(:created_at).each do |result|
          - author = User.find(result.user_id)
          = image_tag "/avatars/#{author.avatar}", class: 'small-avatar'
          = link_to author.username, user_path(author.username)
          %span.muted
            = result.created_at.strftime('%d.%m.%Y в %H:%M')
          %p
            = result.content
      #result-textarea
        - if @tournament.beginning < Time.now
          - if logged_in? &&
          - (@tournament.users.find_by(id: current_user.id) ||
          - current_user.group[/admin|newsman/])
            #textarea-alert-placeholder
            %textarea#result-text{rows: '4', maxlength: '5000'}
            %button#submit-result.btn.btn-hard Отправить
        -else
          %p
            Когда турнир начнется, вы сможете вносить результаты матчей на этой странице.
