.col-md-8
  .well
    = render 'navbar'
    #rules
      %h4 Формат сезона лиги:
      %ul
        %li Сезон состоит из двух частей:
        %ul
          %li Первая часть сезона состоит из двенадцати турниров (один турнир в неделю), по системе Single Elimination, в которых игрокам буду начисляться рейтинговые очки в соответствии с занимаемыми ими местами на турнире.
          %li Во вторую часть сезона попадают шестнадцать лучших игроков рейтинга, которые разбиваются на четыре группы случайным образом. В группах игры проходят по круговой системе (каждый играет с каждым внутри группы). Два лучших игрока из каждой группы выходят в стадию плейофф, которая проводится по системе Single Elimination.
        %li Количество очков, начисляемое за места на турнирах:
        %ul
          %li Первое место – 9 очков
          %li Второе место – 7 очков
          %li Третье место – 5 очков
          %li Четвертое место – 3 очка
          %li Места с пятого по восьмое – 1 очко
        %li Информация о системе проведения турнира и серий матчей в нем, а так же другая подробная информация о турнире будет содержаться во вкладке «Инфо» в меню турнира.
      %h4 Регистрация на турнир:
      %ul
        - if logged_in?
          %li Заполните данные в #{link_to 'настройках профиля', user_path(current_user.username)} (BattleTag, Skype). 
        -else
          %li Заполните данные в настройках профиля (BattleTag, Skype). 
        %li Зайдите в раздел #{link_to 'Турниры', tournaments_path}, выберите турнир, в котором вы хотите принять участие. В меню этого турнира нажмите кнопку «Записаться». Во всплывающем списке выберите класс, которым вы хотите участвовать в турнире.
        %li В день проведения турнира, за час до его начала в меню турнира появится кнопка «Подтвердить». вам необходимо нажать эту кнопку и, таким образом, пройти процедуру подтверждения участия в турнире (check-in).
        %li Смена класса по ходу турнира запрещена!
      %h4 Проведение матчей:
      %ul
        %li Матчи начинаются в строго установленное время, которое указано в меню турнира во вкладке «Инфо».
        %li Найдите вашего соперника в турнирной сетке (вкладка «Сетка» в меню турнира).
        %li Посмотрите его Skype и BattleTag в списке участников (вкладка «Участники» в меню турнира) или в его профилe.
        %li Обратите внимание на класс, под которым ваш соперник зарегистрировался на турнир. Если он отличается от того, которым он начал матч против вас, обязательно сообщите об этом судье турнира.
        %li Добавьте своего будущего соперника в игре при помощи BattleTag, если соперник никак не реагирует на ваши действия, попробуйте связаться с ним в Skype.
        %li После того, как сыгран матч сделайте скриншот, где ясно видно кто победитель, а так же четко видны ники обоих участников.
        %li В случае ничьи, поражение присуждается игроку в чей ход закончилась партия.
      %h4 Неявка на турнир:
      %ul
        %li Если ваш соперник не дал о себе знать в течение 15 минут с начала матча, ему присуждается техническое поражение, а вы считаетесь победителем.
        %li Сделайте скриншоты ваших попыток связи с оппонентом.
      %h4 Технические проблемы во время матчей:
      %ul
        %li Если во время игры у вас возникли технические проблемы и вы не можете продолжить игру, то вам необходимо, по возможности, сообщить об этом сопернику и попросить его переиграть отдельно взятый матч.
        %li В том случае, если соперник согласен переиграть, то у вас есть 10 минут для устранения неисправности. Если по истечении этого времени вы отказываетесь от переигровки или не выходите на связь, то вам присуждается техническое поражение.
        %li Если соперник не согласен переигрывать, то вам присуждается техническое поражение.
        %li Если проблемы возникли у вашего соперника, необходимо сделать скриншоты всех моментов, связанных с проблемами у оппонента (отсутствие в Skype и т.д.).
      %h4 Занесение результатов: 
      %ul
        %li Результаты заносятся во вкладку «Результаты» в меню турнира.
        %li Если матч состоялся, укажите итоговый счет в формате:<br>BattleTag#1234 2:1 BattleTag#4567
        %li В случае неявки оппонента или возникновении других событий, препятствующих проведению игры, опишите сложившуюся ситуацию и приложите скриншоты в качестве подтверждения.
        %li Ожидайте пока судья занесет результаты в сетку и вы продвинетесь в следующий раунд.
        %li Флуд во вкладке «Результаты» строго запрещен.
      %h4 Общие правила: 
      %ul
        %li Запрещены оскорбления соперников и неспортивное поведение.
        %li Время отсчета первой игры стартует с началом турнира, а всех последующих игр - с момента, когда становится известен соперник.
        %li Запрещено менять класс героя в течение одного турнира.
        %li Разрешено менять колоду между матчами.
        %li Запрещено флудить во вкладке «Результаты» в меню турнира. Туда заносятся только результаты по стандартной форме.
        %li Делайте скриншоты в любых нестандартных или проблемных ситуациях. Это ваша гарантия на случай неспортивного поведения оппонента.
        %li Участник, уличенный в мошенничестве с результатами, будет предан анафеме и забанен.
      %h4 Обращение к судье:
      %ul
        %li Все контактные данные для обращения к судье турнира будут указаны во вкладке «Инфо» в меню турнира.
        %li Обращаясь к судье, пишите ник, под которым вы принимаете участие в турнире, а так же четко и коротко формулируйте проблему.
        %li Транслит при обращении к судье приравнивается к толстому троллингу и карается дисквалификацией.
        %li Судья оставляет за собой право принимать решение в различных спорных ситуациях, а так же в ситуациях, неописанных в правилах. Так же судья турнира всегда сам принимает решение о степени наказания игрока, нарушающего правила. Наказание может быть от предупреждения до пожизненного бана.
      %h4 Получение призовых:
      %ul
        %li Если вы попали в призовые места на турнире, то вам необходимо связаться с судьей турнира и сообщить ему реквизиты для оплаты (номер кошелька, номер телефона и т.п.).
        %li На ваш выбор мы можем зачислить призовые на кошелек #{link_to 'Яндекс Деньги', 'https://money.yandex.ru', target: 'blank'}, #{link_to 'QIWI', 'https://qiwi.ru', target: 'blank'} или #{link_to 'WebMoney', 'http://webmoney.ru', target: 'blank'}. Также, мы можем зачислить выигрыш на ваш мобильный телефон.
        %li Выигрыш будет перечислен по указанным реквизитам в течение 3-5 дней с момента вашего обращения.
        %li В будущем, мы введем большее количество способов получения выигрышей.
      %h4 Форматы проведения турниров:
      %ul
        %li Системы проведения турниров:
        %ul
          %li Single Elimination или #{link_to 'Олимпийская система', 'http://ru.wikipedia.org/wiki/Олимпийская_система', target: 'blank'}.
          %li Double Elimination или #{link_to 'Олимпийская система с выбыванием после двух поражений', 'http://ru.wikipedia.org/wiki/Double_Elimination', target: 'blank'}.
      %ul
        %li Форматы проведения серий:
        %ul
          %li bo1 – до одной победы.
          %li bo3 – до двух побед.
          %li bo5 – до трех побед.
      %ul
        %li Информация о системе проведения турнира и серий матчей в нем, будет содержаться во вкладке «Инфо» в меню турнира.
      %h4 Заключение:
      %ul
        %li Для получения удовольствия от турнира, уважительно относитесь к сопернику. Спорные моменты старайтесь решать между собой, не доводя их до конфликта с дальнейшим обращением к судье турнира.
        %li Не опаздывайте к началу матчей – цените время других игроков.
        %li Если вы зарегистрировались на турнир, но по каким-либо причинам не сможете принять в нем участие, по возможности, предупредите об этом организаторов.
