.col-md-12
  #carousel.carousel.slide{'data-ride' => 'carousel'}
    %ol.carousel-indicators
      %li.active{'data-slide-to' => '0', 'data-target' => '#carousel'}
      %li{'data-slide-to' => '1', 'data-target' => '#carousel'}
    .carousel-inner
      .item.active
        = link_to crew_path('lol') do
          = image_tag 'lol_carousel.png'
          .container
            .carousel-caption
              %h1 Команда по<br>League of Legends
      .item
        = link_to tournament_path(24) do
          = image_tag '4cup_carousel.png'
          .container
            .carousel-caption
              %h1 Кубок Четырех
    %a.left.carousel-control{'data-slide' => 'prev', href: '#carousel'}
      = fa_icon 'chevron-left', class: 'chevron'
    %a.right.carousel-control{'data-slide' => 'next', href: '#carousel'}
      = fa_icon 'chevron-right', class: 'chevron'
  %br
