.col-md-8
  .well.post-editable
    %h2
      - new = @post.nil?
      - if new
        = link_to 'Новый пост', new_post_path
      - else
        = link_to "Редактирование поста ##{@post.id}", edit_post_path(@post.id)
    %hr
    #alert-placeholder
    %form#myForm{action: '/posts/upload', enctype: 'multipart/form-data', method: 'post'}
      .fileinput.fileinput-new{'data-provides' => 'fileinput'}
        .fileinput-preview.fileinput-exists.thumbnail{'data-trigger' => 'fileinput'}
        %div
          %span.btn.btn-hard.btn-file
            %span.fileinput-new Выбрать картинку
            %span.fileinput-exists Выбрать картинку
            %input#upload{name: 'file', type: 'file', accept: 'image/*'}
          %button#save.btn.btn-hard{style: 'display: none'} Загрузить
    %input#title.full-input{autofocus: 'autofocus', type: 'text', placeholder: 'Заголовок'}
    %input#game.full-input{type: 'text', placeholder: 'Одна из игр: hs, lol, dota. Или all для всех.'}
    %textarea#text.tinymce
    = tinymce(init_instance_callback: "function() {tinyMCE.activeEditor.setContent('#{j @post.content unless new}')}",
      content_css: "#{asset_path('application.css')},
      http://fonts.googleapis.com/css?family=Exo+2&subset=latin,
      http://fonts.googleapis.com/css?family=Exo+2&subset=cyrillic")
    %br
    %button#submit.btn.btn-hard
      - if new
        Опубликовать
      - else
        Обновить
