= render 'carousel'
.col-md-8
  #notice
    - unless flash[:notice].blank?
      .alert.alert-info
        = flash[:notice]
  #posts
    - @posts.each do |post|
      .well
        %h2
          = link_to post.title, post_path(post.id)
        %hr
        %p.muted
          = post.created_at.strftime('%d.%m.%Y в %H:%M')
        .post-content.preview
          = post.content.html_safe
        .post-info
          %hr
          = fa_icon 'user'
          - username = User.find(post.user_id).username
          = link_to username, user_path(username)
          = fa_icon 'pencil'
          = post.comments.count
          .pull-right
            = link_to 'Читать дальше →', post_path(post.id)
    = paginate @posts
