%footer
  .container
    .row
      .col-md-2
        %ul
          %li
            = link_to 'Новости', root_path
          %li
            = link_to 'Турниры', tournaments_path
          %li
            = link_to 'Правила', tournament_rules_path
          %li
            = link_to 'Топ', tournament_top_path
          %li
            = link_to 'Команда', teams_path
      .col-md-7.text-center
        %div
          Мы всегда открыты для сотрудничества.
          %br
          По любым возникающим вопросам и предложениям
          %br
          Вы можете обратиться по указанным контактам:
        %div
          = fa_icon 'skype'
          = link_to 'hard.random', 'skype:hard.random?chat'
        %div
          = fa_icon 'envelope'
          = link_to 'feedback@hardrandom.com', 'mailto:feedback@hardrandom.com'
      .col-md-3
        .social
          = link_to 'http://vk.com/hardrandom', target: 'blank', class: 'btn' do
            = fa_icon 'vk 2x'
          = link_to 'https://twitter.com/HardRandom', target: 'blank', class: 'btn' do
            = fa_icon 'twitter 2x'
