- unless request.original_fullpath[/password|login|signup/]
  .col-md-4
    %aside.well
      %ul.nav.nav-list
        -#- tournaments = Tournament.where(show: true).order(created_at: :desc)
          - unless tournaments.empty?
            %li.dropdown-header Наши турниры
            - tournaments.each do |tourney|
              %li
                = link_to tournament_path(tourney.id) do
                  .row
                    .col-xs-9.sidebar-title
                      = tourney.title
                    .col-xs-3.sidebar-icon
                      .pull-right
                        = tourney.users.count
                        = fa_icon 'user'
        %li.dropdown-header Последние посты
        - Post.where(approved: true).limit(5).order(created_at: :desc).each do |post|
          %li
            = link_to post_path(post.id) do
              .row
                .col-xs-9.sidebar-title
                  = post.title
                .col-xs-3.sidebar-icon
                  .pull-right
                    = post.comments.count
                    = fa_icon 'pensil'
        %li.dropdown-header Стримы
        - Stream.order(views: :desc).each do |stream|
          %li
            = link_to stream.url, target: 'blank' do
              = stream.streamer
              %span.pull-right
                - if stream.online
                  = fa_icon 'eye', class: 'green'
                - else
                  = fa_icon 'eye-slash', class: 'red'
